In [5]:
import pandas as pd
import sqlalchemy as db
import os
from dotenv import load_dotenv

load_dotenv()

### Testing Database Loading with Environment Variables

In [12]:
# DB_STRING=os.getenv('DB_STRING')
# USERNAME=os.getenv('USERNAME')
# PASSWORD=os.getenv('PASSWORD')
# HOSTNAME=os.getenv('HOSTNAME')
# PORT=os.getenv('PORT')
# DB_NAME=os.getenv('DB_NAME')

#orders_table = './data/orders/orders.parquet'
#engine = db.create_engine(f'{DB_STRING}://{USERNAME}:{PASSWORD}@{HOSTNAME}:{PORT}/{DB_NAME}')

### Parquet Validation

In [ ]:
orders_partition = pd.read_parquet('./data/orders/orders_1.parquet')
new_orders_partition = pd.read_parquet('./data/new_orders/orders_2.parquet')

In [7]:
orders_partition.head()

,OrderID,Date,TotalDue,Status,CustomerID,SalespersonID,CustomersComment,SalespersonsComment
0,1000,05/14/2016,$140.91,paid,413,130,No Comment,No Comment
1,1001,07/31/2016,$105.32,returned,128,102,No Comment,No Comment
2,1002,07/09/2016,$217.30,past due,791,115,No Comment,No Comment
3,1003,04/04/2016,$281.39,paid,974,139,No Comment,No Comment
4,1004,02/16/2016,$254.76,paid,866,102,No Comment,No Comment

In [9]:
orders_partition.shape

(10, 8)

In [13]:
new_orders_partition.head()

,OrderID,Date,TotalDue,Status,CustomerID,SalespersonID,CustomersComment,SalespersonsComment
10,1010,07/15/2015,$208.30,paid,653,121,No Comment,No Comment
11,1011,04/12/2016,$333.93,paid,811,108,No Comment,No Comment
12,1012,08/26/2015,$170.13,paid,751,118,No Comment,No Comment
13,1013,08/15/2015,$55.67,past due,1093,150,No Comment,No Comment
14,1014,11/22/2015,$334.58,past due,181,144,No Comment,No Comment

In [14]:
new_orders_partition.shape

(10, 8)