In [2]:
import polars as pl

## Sample Data Creation

In [3]:
data = {
    "id": [1, 2, 3, 4, 5, 1],
    "product customer purchased": ["Widget A", "Widget B", "Widget C", "Widget D", "Widget E", "Widget A"],
    "Name of customer": ["John Doe", "Jane Smith", "Bob Johnson", "Susan Brown", "Mary Wilson", "John Doe"],
    "address of customer": ["123 Main St", "456 Elm St", "789 Oak St", "234 Pine St", "567 Birch St", "123 Main St"],
    "email of customer": ["john.doe@email.com", "", "bob.johnson@email.com", "susan.brown@email.com", "mary.wilson@email.com", "john.doe@email.com"],
    "phone number of customer": ["123-456-7890", "987-654-3210", "555-123-7890", "777-888-9999", "111-222-3333", "123-456-7890"],
    "time of purchase": ["2023-08-10 09:15:00", "2023-08-10 10:30:00", "2023-08-11 14:45:00", "2023-08-11 15:30:00", "2023-08-12 11:20:00", "2023-08-10 09:15:00"]
}

In [4]:
df = pl.DataFrame(data)

In [5]:
df

shape: (6, 7)
┌─────┬───────────┬─────────────┬──────────────┬───────────────────┬──────────────────┬────────────┐
│ id  ┆ product   ┆ Name of     ┆ address of   ┆ email of customer ┆ phone number of  ┆ time of    │
│ --- ┆ customer  ┆ customer    ┆ customer     ┆ ---               ┆ customer         ┆ purchase   │
│ i64 ┆ purchased ┆ ---         ┆ ---          ┆ str               ┆ ---              ┆ ---        │
│     ┆ ---       ┆ str         ┆ str          ┆                   ┆ str              ┆ str        │
│     ┆ str       ┆             ┆              ┆                   ┆                  ┆            │
╞═════╪═══════════╪═════════════╪══════════════╪═══════════════════╪══════════════════╪════════════╡
│ 1   ┆ Widget A  ┆ John Doe    ┆ 123 Main St  ┆ john.doe@email.co ┆ 123-456-7890     ┆ 2023-08-10 │
│     ┆           ┆             ┆              ┆ m                 ┆                  ┆ 09:15:00   │
│ 2   ┆ Widget B  ┆ Jane Smith  ┆ 456 Elm St   ┆                   ┆ 987-654-3210     ┆ 2023-08-10 │
│     ┆           ┆             ┆              ┆                   ┆                  ┆ 10:30:00   │
│ 3   ┆ Widget C  ┆ Bob Johnson ┆ 789 Oak St   ┆ bob.johnson@email ┆ 555-123-7890     ┆ 2023-08-11 │
│     ┆           ┆             ┆              ┆ .com              ┆                  ┆ 14:45:00   │
│ 4   ┆ Widget D  ┆ Susan Brown ┆ 234 Pine St  ┆ susan.brown@email ┆ 777-888-9999     ┆ 2023-08-11 │
│     ┆           ┆             ┆              ┆ .com              ┆                  ┆ 15:30:00   │
│ 5   ┆ Widget E  ┆ Mary Wilson ┆ 567 Birch St ┆ mary.wilson@email ┆ 111-222-3333     ┆ 2023-08-12 │
│     ┆           ┆             ┆              ┆ .com              ┆                  ┆ 11:20:00   │
│ 1   ┆ Widget A  ┆ John Doe    ┆ 123 Main St  ┆ john.doe@email.co ┆ 123-456-7890     ┆ 2023-08-10 │
│     ┆           ┆             ┆              ┆ m                 ┆                  ┆ 09:15:00   │
└─────┴───────────┴─────────────┴──────────────┴───────────────────┴──────────────────┴────────────┘

In [6]:
df.schema

OrderedDict([('id', Int64),
             ('product customer purchased', String),
             ('Name of customer', String),
             ('address of customer', String),
             ('email of customer', String),
             ('phone number of customer', String),
             ('time of purchase', String)])

In [7]:
df.null_count()

shape: (1, 7)
┌─────┬───────────┬──────────┬────────────┬──────────┬─────────────────┬──────────────────┐
│ id  ┆ product   ┆ Name of  ┆ address of ┆ email of ┆ phone number of ┆ time of purchase │
│ --- ┆ customer  ┆ customer ┆ customer   ┆ customer ┆ customer        ┆ ---              │
│ u32 ┆ purchased ┆ ---      ┆ ---        ┆ ---      ┆ ---             ┆ u32              │
│     ┆ ---       ┆ u32      ┆ u32        ┆ u32      ┆ u32             ┆                  │
│     ┆ u32       ┆          ┆            ┆          ┆                 ┆                  │
╞═════╪═══════════╪══════════╪════════════╪══════════╪═════════════════╪══════════════════╡
│ 0   ┆ 0         ┆ 0        ┆ 0          ┆ 0        ┆ 0               ┆ 0                │
└─────┴───────────┴──────────┴────────────┴──────────┴─────────────────┴──────────────────┘

## Getting Unique Records Aggregating Duplicate Records into a Single Record

In [8]:
unique_df = df.unique()

In [9]:
unique_df.sort("id")

shape: (5, 7)
┌─────┬───────────┬─────────────┬──────────────┬───────────────────┬──────────────────┬────────────┐
│ id  ┆ product   ┆ Name of     ┆ address of   ┆ email of customer ┆ phone number of  ┆ time of    │
│ --- ┆ customer  ┆ customer    ┆ customer     ┆ ---               ┆ customer         ┆ purchase   │
│ i64 ┆ purchased ┆ ---         ┆ ---          ┆ str               ┆ ---              ┆ ---        │
│     ┆ ---       ┆ str         ┆ str          ┆                   ┆ str              ┆ str        │
│     ┆ str       ┆             ┆              ┆                   ┆                  ┆            │
╞═════╪═══════════╪═════════════╪══════════════╪═══════════════════╪══════════════════╪════════════╡
│ 1   ┆ Widget A  ┆ John Doe    ┆ 123 Main St  ┆ john.doe@email.co ┆ 123-456-7890     ┆ 2023-08-10 │
│     ┆           ┆             ┆              ┆ m                 ┆                  ┆ 09:15:00   │
│ 2   ┆ Widget B  ┆ Jane Smith  ┆ 456 Elm St   ┆                   ┆ 987-654-3210     ┆ 2023-08-10 │
│     ┆           ┆             ┆              ┆                   ┆                  ┆ 10:30:00   │
│ 3   ┆ Widget C  ┆ Bob Johnson ┆ 789 Oak St   ┆ bob.johnson@email ┆ 555-123-7890     ┆ 2023-08-11 │
│     ┆           ┆             ┆              ┆ .com              ┆                  ┆ 14:45:00   │
│ 4   ┆ Widget D  ┆ Susan Brown ┆ 234 Pine St  ┆ susan.brown@email ┆ 777-888-9999     ┆ 2023-08-11 │
│     ┆           ┆             ┆              ┆ .com              ┆                  ┆ 15:30:00   │
│ 5   ┆ Widget E  ┆ Mary Wilson ┆ 567 Birch St ┆ mary.wilson@email ┆ 111-222-3333     ┆ 2023-08-12 │
│     ┆           ┆             ┆              ┆ .com              ┆                  ┆ 11:20:00   │
└─────┴───────────┴─────────────┴──────────────┴───────────────────┴──────────────────┴────────────┘

In [3]:
csv_df = pl.read_csv("./data/1/sample_data_1.csv")

In [14]:
csv_df

shape: (200, 8)
┌────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬───────────┬────────┐
│ Name       ┆ Email      ┆ Phone      ┆ Address    ┆ City       ┆ Country    ┆ Date of   ┆ Salary │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ Birth     ┆ ---    │
│ str        ┆ str        ┆ str        ┆ str        ┆ str        ┆ str        ┆ ---       ┆ i64    │
│            ┆            ┆            ┆            ┆            ┆            ┆ str       ┆        │
╞════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪════════╡
│ Lisa West  ┆ andrew23@e ┆ (465)852-8 ┆ Unit 5183  ┆ Perezfort  ┆ Honduras   ┆ 2001-08-0 ┆ 83302  │
│            ┆ xample.com ┆ 470        ┆ Box 8914   ┆            ┆            ┆ 5         ┆        │
│            ┆            ┆            ┆ DPO AP     ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ 26775      ┆            ┆            ┆           ┆        │
│ Jason Cole ┆ kenneth05@ ┆ 7783540568 ┆ 73784      ┆ Port       ┆ Bolivia    ┆ 2012-12-0 ┆ 31035  │
│            ┆ example.ne ┆            ┆ Kenneth    ┆ Andrea     ┆            ┆ 4         ┆        │
│            ┆ t          ┆            ┆ Stream     ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Apt. 200   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Fi…        ┆            ┆            ┆           ┆        │
│ Juan       ┆ zbarnes@ex ┆ (676)328-6 ┆ 0580 Mary  ┆ Johnboroug ┆ South      ┆ 1921-02-0 ┆ 60226  │
│ Crosby     ┆ ample.org  ┆ 244x05295  ┆ Row        ┆ h          ┆ Africa     ┆ 2         ┆        │
│            ┆            ┆            ┆ Lake Vanes ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ sabury, …  ┆            ┆            ┆           ┆        │
│ April Ball ┆ michaelmck ┆ +1-633-685 ┆ 6215       ┆ New Eric   ┆ Greece     ┆ 2023-05-0 ┆ 52502  │
│            ┆ inney@exam ┆ -4901x2113 ┆ Hensley    ┆            ┆            ┆ 8         ┆        │
│            ┆ ple.com    ┆            ┆ Pass Apt.  ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ 136        ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ South…     ┆            ┆            ┆           ┆        │
│ Donald     ┆ peterdean@ ┆ 779-437-76 ┆ 156        ┆ Alyssaboro ┆ Namibia    ┆ 2019-03-0 ┆ 38687  │
│ Jackson    ┆ example.co ┆ 43         ┆ Macdonald  ┆ ugh        ┆            ┆ 7         ┆        │
│            ┆ m          ┆            ┆ Alley      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ West       ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Scottmo…   ┆            ┆            ┆           ┆        │
│ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         ┆ …      │
│ Willie     ┆ jamesdavis ┆ 277-426-90 ┆ 2277       ┆ East       ┆ Mongolia   ┆ 2017-05-2 ┆ 59788  │
│ Shelton    ┆ @example.n ┆ 77x821     ┆ Kathryn    ┆ Michael    ┆            ┆ 0         ┆        │
│            ┆ et         ┆            ┆ Cliffs     ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Danielshir ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ e,…        ┆            ┆            ┆           ┆        │
│ Deborah    ┆ michelle15 ┆ 954-765-99 ┆ 3179 Young ┆ Port Linda ┆ Senegal    ┆ 1963-07-2 ┆ 61230  │
│ Nicholson  ┆ @example.n ┆ 68x1900    ┆ Brooks     ┆            ┆            ┆ 5         ┆        │
│            ┆ et         ┆            ┆ Apt. 868   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Scott…     ┆            ┆            ┆           ┆        │
│ Vanessa Wu ┆ reginaldow ┆ +1-682-798 ┆ 1820       ┆ Cassandrav ┆ Israel     ┆ 1929-01-1 ┆ 70482  │
│            ┆ ens@exampl ┆ -1566x9050 ┆ Denise     ┆ iew        ┆            ┆ 8         ┆        │
│            ┆ e.com      ┆            ┆ Forks      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ East       ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Katieberg… ┆            ┆            ┆           ┆        │
│ Robyn      ┆ chad33@exa ┆ 212-239-39 ┆ 1162       ┆ Bruceberg  ┆ Iran       ┆ 1941-05-1 ┆ 73249  │
│ Allen      ┆ mple.org   ┆ 34x599     ┆ Kathryn    ┆            ┆            ┆ 7         ┆        │
│            ┆            ┆            ┆ Extensions ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ East Lar…  ┆            ┆            ┆           ┆        │
│ Scott      ┆ valerie39@ ┆ 956.897.05 ┆ 228 Adrian ┆ Alexandras ┆ New        ┆ 2019-09-3 ┆ 81174  │
│ Stewart    ┆ example.co ┆ 40         ┆ Pine       ┆ ide        ┆ Zealand    ┆ 0         ┆        │
│            ┆ m          ┆            ┆ North      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Sean, IL   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ 2…         ┆            ┆            ┆           ┆        │
└────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴───────────┴────────┘

### Confirming Duplicate Records

In [23]:
duplicated_records = csv_df.filter(csv_df.is_duplicated())

In [32]:
filtered_records = duplicated_records.filter(pl.col("Name") == "Scott Stewart")

In [37]:
for row in filtered_records.rows():
    print(f"This is the row type {type(row)}")
    print(row)
    print("=================================")

This is the row type <class 'tuple'>
('Scott Stewart', 'valerie39@example.com', '956.897.0540', '228 Adrian Pine\nNorth Sean, IL 20499', 'Alexandraside', 'New Zealand', '2019-09-30', 81174)
=================================
This is the row type <class 'tuple'>
('Scott Stewart', 'valerie39@example.com', '956.897.0540', '228 Adrian Pine\nNorth Sean, IL 20499', 'Alexandraside', 'New Zealand', '2019-09-30', 81174)
=================================
This is the row type <class 'tuple'>
('Scott Stewart', 'valerie39@example.com', '956.897.0540', '228 Adrian Pine\nNorth Sean, IL 20499', 'Alexandraside', 'New Zealand', '2019-09-30', 81174)
=================================
This is the row type <class 'tuple'>
('Scott Stewart', 'valerie39@example.com', '956.897.0540', '228 Adrian Pine\nNorth Sean, IL 20499', 'Alexandraside', 'New Zealand', '2019-09-30', 81174)
=================================
This is the row type <class 'tuple'>
('Scott Stewart', 'valerie39@example.com', '956.897.0540', '228 Adrian Pine\nNorth Sean, IL 20499', 'Alexandraside', 'New Zealand', '2019-09-30', 81174)
=================================

### Creating a Unique Dataframe that aggregates duplicates into One Record

In [12]:
unique_csv_df = csv_df.unique()

In [15]:
unique_csv_df

shape: (172, 8)
┌────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬───────────┬────────┐
│ Name       ┆ Email      ┆ Phone      ┆ Address    ┆ City       ┆ Country    ┆ Date of   ┆ Salary │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ Birth     ┆ ---    │
│ str        ┆ str        ┆ str        ┆ str        ┆ str        ┆ str        ┆ ---       ┆ i64    │
│            ┆            ┆            ┆            ┆            ┆            ┆ str       ┆        │
╞════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪════════╡
│ Scott      ┆ valerie39@ ┆ 956.897.05 ┆ 228 Adrian ┆ Alexandras ┆ New        ┆ 2019-09-3 ┆ 81174  │
│ Stewart    ┆ example.co ┆ 40         ┆ Pine       ┆ ide        ┆ Zealand    ┆ 0         ┆        │
│            ┆ m          ┆            ┆ North      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Sean, IL   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ 2…         ┆            ┆            ┆           ┆        │
│ Deborah    ┆ michelle15 ┆ 954-765-99 ┆ 3179 Young ┆ Port Linda ┆ Senegal    ┆ 1963-07-2 ┆ 61230  │
│ Nicholson  ┆ @example.n ┆ 68x1900    ┆ Brooks     ┆            ┆            ┆ 5         ┆        │
│            ┆ et         ┆            ┆ Apt. 868   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Scott…     ┆            ┆            ┆           ┆        │
│ Andrea     ┆ billy12@ex ┆ 869.593.86 ┆ 1989 Blake ┆ South      ┆ Azerbaijan ┆ 1985-04-3 ┆ 55049  │
│ Brooks     ┆ ample.com  ┆ 22         ┆ Passage    ┆ Steven     ┆            ┆ 0         ┆        │
│            ┆            ┆            ┆ Apt. 619   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ West…      ┆            ┆            ┆           ┆        │
│ Amanda     ┆ armstrongm ┆ 848-437-94 ┆ 98549      ┆ Lake       ┆ Tokelau    ┆ 1957-01-3 ┆ 56752  │
│ Haney      ┆ ark@exampl ┆ 75         ┆ Jordan     ┆ Nicole     ┆            ┆ 1         ┆        │
│            ┆ e.org      ┆            ┆ Expressway ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Thompson…  ┆            ┆            ┆           ┆        │
│ Crystal    ┆ christineb ┆ 321-515-64 ┆ 744 Jamie  ┆ New        ┆ Algeria    ┆ 1918-10-2 ┆ 85768  │
│ Freeman    ┆ erry@examp ┆ 79x4387    ┆ Curve Apt. ┆ Edwardview ┆            ┆ 1         ┆        │
│            ┆ le.com     ┆            ┆ 404        ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Gomezla…   ┆            ┆            ┆           ┆        │
│ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         ┆ …      │
│ Cameron    ┆ imendoza@e ┆ (816)923-0 ┆ 3156       ┆ Jenniferfu ┆ Tajikistan ┆ 1958-08-2 ┆ 41460  │
│ Reed       ┆ xample.com ┆ 541x3281   ┆ Lindsey    ┆ rt         ┆            ┆ 1         ┆        │
│            ┆            ┆            ┆ Gardens    ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Apt. 114   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ So…        ┆            ┆            ┆           ┆        │
│ Mary       ┆ emily40@ex ┆ (299)828-6 ┆ 862        ┆ Port Miche ┆ Benin      ┆ 1972-06-2 ┆ 83069  │
│ Wilson     ┆ ample.com  ┆ 880        ┆ Kimberly   ┆ lleville   ┆            ┆ 9         ┆        │
│            ┆            ┆            ┆ Roads      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Lake       ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Andrewto…  ┆            ┆            ┆           ┆        │
│ Michelle   ┆ fernandezc ┆ 893.974.46 ┆ 12161      ┆ Clarkburgh ┆ Fiji       ┆ 1911-06-1 ┆ 91835  │
│ Stephens   ┆ harles@exa ┆ 23x363     ┆ Jason      ┆            ┆            ┆ 9         ┆        │
│            ┆ mple.org   ┆            ┆ Stravenue  ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Apt. 775   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ E…         ┆            ┆            ┆           ┆        │
│ Katherine  ┆ john54@exa ┆ (560)427-5 ┆ 8885       ┆ West       ┆ Bahrain    ┆ 1947-06-2 ┆ 75146  │
│ Barrett    ┆ mple.net   ┆ 037        ┆ Farley     ┆ Victoria   ┆            ┆ 1         ┆        │
│            ┆            ┆            ┆ Wells      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ New Kennet ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ hmou…      ┆            ┆            ┆           ┆        │
│ Melvin     ┆ lauren53@e ┆ 712-495-69 ┆ 32086 Kim  ┆ Perryview  ┆ Pakistan   ┆ 2010-08-2 ┆ 72826  │
│ Thompson   ┆ xample.org ┆ 44x110     ┆ Road       ┆            ┆            ┆ 4         ┆        │
│            ┆            ┆            ┆ Lake       ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Johnfurt,  ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ AK…        ┆            ┆            ┆           ┆        │
└────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴───────────┴────────┘