In [94]:
import polars as pl

In [95]:
sample_csv_df = pl.read_csv("./data/2/sample_data_csv.csv", has_header=False)

In [96]:
sample_csv_df.head()

shape: (5, 8)
┌────────────┬────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬──────────┐
│ column_1   ┆ column_2   ┆ column_3   ┆ column_4   ┆ column_5  ┆ column_6  ┆ column_7  ┆ column_8 │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str        ┆ str        ┆ str        ┆ str        ┆ str       ┆ str       ┆ str       ┆ i64      │
╞════════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪══════════╡
│ Lisa West  ┆ andrew23@e ┆ (465)852-8 ┆ Unit 5183  ┆ Perezfort ┆ Honduras  ┆ 2001-08-0 ┆ 83302    │
│            ┆ xample.com ┆ 470        ┆ Box 8914
   ┆           ┆           ┆ 5         ┆          │
│            ┆            ┆            ┆ DPO AP     ┆           ┆           ┆           ┆          │
│            ┆            ┆            ┆ 26775      ┆           ┆           ┆           ┆          │
│ Jason Cole ┆ kenneth05@ ┆ 7783540568 ┆ 73784      ┆ Port      ┆ Bolivia   ┆ 2012-12-0 ┆ 31035    │
│            ┆ example.ne ┆            ┆ Kenneth    ┆ Andrea    ┆           ┆ 4         ┆          │
│            ┆ t          ┆            ┆ Stream     ┆           ┆           ┆           ┆          │
│            ┆            ┆            ┆ Apt. 200
   ┆           ┆           ┆           ┆          │
│            ┆            ┆            ┆ F…         ┆           ┆           ┆           ┆          │
│ Juan       ┆ zbarnes@ex ┆ (676)328-6 ┆ 0580 Mary  ┆ Johnborou ┆ South     ┆ 1921-02-0 ┆ 60226    │
│ Crosby     ┆ ample.org  ┆ 244x05295  ┆ Row
        ┆ gh        ┆ Africa    ┆ 2         ┆          │
│            ┆            ┆            ┆ Lake Vanes ┆           ┆           ┆           ┆          │
│            ┆            ┆            ┆ sabury,…   ┆           ┆           ┆           ┆          │
│ April Ball ┆ michaelmck ┆ +1-633-685 ┆ 6215       ┆ New Eric  ┆ Greece    ┆ 2023-05-0 ┆ 52502    │
│            ┆ inney@exam ┆ -4901x2113 ┆ Hensley    ┆           ┆           ┆ 8         ┆          │
│            ┆ ple.com    ┆            ┆ Pass Apt.  ┆           ┆           ┆           ┆          │
│            ┆            ┆            ┆ 136
        ┆           ┆           ┆           ┆          │
│            ┆            ┆            ┆ Sout…      ┆           ┆           ┆           ┆          │
│ Donald     ┆ peterdean@ ┆ 779-437-76 ┆ 156        ┆ Alyssabor ┆ Namibia   ┆ 2019-03-0 ┆ 38687    │
│ Jackson    ┆ example.co ┆ 43         ┆ Macdonald  ┆ ough      ┆           ┆ 7         ┆          │
│            ┆ m          ┆            ┆ Alley
      ┆           ┆           ┆           ┆          │
│            ┆            ┆            ┆ West       ┆           ┆           ┆           ┆          │
│            ┆            ┆            ┆ Scottm…    ┆           ┆           ┆           ┆          │
└────────────┴────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴──────────┘

In [97]:
dict_params = {
    "has_header": True,
    "skip_rows": 1
}

sample_excel_df = pl.read_excel("./data/2/sample_data_excel.xlsx", read_options=dict_params)

In [98]:
sample_excel_df.head()

shape: (5, 8)
┌────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬───────────┬────────┐
│ Name       ┆ Email      ┆ Phone      ┆ Address    ┆ City       ┆ Country    ┆ Date of   ┆ Salary │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ Birth     ┆ ---    │
│ str        ┆ str        ┆ str        ┆ str        ┆ str        ┆ str        ┆ ---       ┆ i64    │
│            ┆            ┆            ┆            ┆            ┆            ┆ str       ┆        │
╞════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪════════╡
│ Lisa West  ┆ andrew23@e ┆ (465)852-8 ┆ Unit 5183  ┆ Perezfort  ┆ Honduras   ┆ 2001-08-0 ┆ 83302  │
│            ┆ xample.com ┆ 470        ┆ Box 8914   ┆            ┆            ┆ 5         ┆        │
│            ┆            ┆            ┆ DPO AP     ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ 26775      ┆            ┆            ┆           ┆        │
│ Jason Cole ┆ kenneth05@ ┆ 7783540568 ┆ 73784      ┆ Port       ┆ Bolivia    ┆ 2012-12-0 ┆ 31035  │
│            ┆ example.ne ┆            ┆ Kenneth    ┆ Andrea     ┆            ┆ 4         ┆        │
│            ┆ t          ┆            ┆ Stream     ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Apt. 200   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Fi…        ┆            ┆            ┆           ┆        │
│ Juan       ┆ zbarnes@ex ┆ (676)328-6 ┆ 0580 Mary  ┆ Johnboroug ┆ South      ┆ 1921-02-0 ┆ 60226  │
│ Crosby     ┆ ample.org  ┆ 244x05295  ┆ Row        ┆ h          ┆ Africa     ┆ 2         ┆        │
│            ┆            ┆            ┆ Lake Vanes ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ sabury, …  ┆            ┆            ┆           ┆        │
│ April Ball ┆ michaelmck ┆ +1-633-685 ┆ 6215       ┆ New Eric   ┆ Greece     ┆ 2023-05-0 ┆ 52502  │
│            ┆ inney@exam ┆ -4901x2113 ┆ Hensley    ┆            ┆            ┆ 8         ┆        │
│            ┆ ple.com    ┆            ┆ Pass Apt.  ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ 136        ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ South…     ┆            ┆            ┆           ┆        │
│ Donald     ┆ peterdean@ ┆ 779-437-76 ┆ 156        ┆ Alyssaboro ┆ Namibia    ┆ 2019-03-0 ┆ 38687  │
│ Jackson    ┆ example.co ┆ 43         ┆ Macdonald  ┆ ugh        ┆            ┆ 7         ┆        │
│            ┆ m          ┆            ┆ Alley      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ West       ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Scottmo…   ┆            ┆            ┆           ┆        │
└────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴───────────┴────────┘

## Using Excel Column Names to Create a New Header Row for the Previous CSV DataFrame

In [99]:
col_names = sample_excel_df.columns

In [100]:
sample_csv_df = sample_csv_df.rename({old: new for old, new in zip(sample_csv_df.columns, col_names)})

In [101]:
sample_csv_df

shape: (200, 8)
┌────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬───────────┬────────┐
│ Name       ┆ Email      ┆ Phone      ┆ Address    ┆ City       ┆ Country    ┆ Date of   ┆ Salary │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ Birth     ┆ ---    │
│ str        ┆ str        ┆ str        ┆ str        ┆ str        ┆ str        ┆ ---       ┆ i64    │
│            ┆            ┆            ┆            ┆            ┆            ┆ str       ┆        │
╞════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪════════╡
│ Lisa West  ┆ andrew23@e ┆ (465)852-8 ┆ Unit 5183  ┆ Perezfort  ┆ Honduras   ┆ 2001-08-0 ┆ 83302  │
│            ┆ xample.com ┆ 470        ┆ Box 8914
   ┆            ┆            ┆ 5         ┆        │
│            ┆            ┆            ┆ DPO AP     ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ 26775      ┆            ┆            ┆           ┆        │
│ Jason Cole ┆ kenneth05@ ┆ 7783540568 ┆ 73784      ┆ Port       ┆ Bolivia    ┆ 2012-12-0 ┆ 31035  │
│            ┆ example.ne ┆            ┆ Kenneth    ┆ Andrea     ┆            ┆ 4         ┆        │
│            ┆ t          ┆            ┆ Stream     ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Apt. 200
   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ F…         ┆            ┆            ┆           ┆        │
│ Juan       ┆ zbarnes@ex ┆ (676)328-6 ┆ 0580 Mary  ┆ Johnboroug ┆ South      ┆ 1921-02-0 ┆ 60226  │
│ Crosby     ┆ ample.org  ┆ 244x05295  ┆ Row
        ┆ h          ┆ Africa     ┆ 2         ┆        │
│            ┆            ┆            ┆ Lake Vanes ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ sabury,…   ┆            ┆            ┆           ┆        │
│ April Ball ┆ michaelmck ┆ +1-633-685 ┆ 6215       ┆ New Eric   ┆ Greece     ┆ 2023-05-0 ┆ 52502  │
│            ┆ inney@exam ┆ -4901x2113 ┆ Hensley    ┆            ┆            ┆ 8         ┆        │
│            ┆ ple.com    ┆            ┆ Pass Apt.  ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ 136
        ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Sout…      ┆            ┆            ┆           ┆        │
│ Donald     ┆ peterdean@ ┆ 779-437-76 ┆ 156        ┆ Alyssaboro ┆ Namibia    ┆ 2019-03-0 ┆ 38687  │
│ Jackson    ┆ example.co ┆ 43         ┆ Macdonald  ┆ ugh        ┆            ┆ 7         ┆        │
│            ┆ m          ┆            ┆ Alley
      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ West       ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Scottm…    ┆            ┆            ┆           ┆        │
│ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         ┆ …      │
│ Willie     ┆ jamesdavis ┆ 277-426-90 ┆ 2277       ┆ East       ┆ Mongolia   ┆ 2017-05-2 ┆ 59788  │
│ Shelton    ┆ @example.n ┆ 77x821     ┆ Kathryn    ┆ Michael    ┆            ┆ 0         ┆        │
│            ┆ et         ┆            ┆ Cliffs
     ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Danielshir ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ e…         ┆            ┆            ┆           ┆        │
│ Deborah    ┆ michelle15 ┆ 954-765-99 ┆ 3179 Young ┆ Port Linda ┆ Senegal    ┆ 1963-07-2 ┆ 61230  │
│ Nicholson  ┆ @example.n ┆ 68x1900    ┆ Brooks     ┆            ┆            ┆ 5         ┆        │
│            ┆ et         ┆            ┆ Apt. 868
   ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Scot…      ┆            ┆            ┆           ┆        │
│ Vanessa Wu ┆ reginaldow ┆ +1-682-798 ┆ 1820       ┆ Cassandrav ┆ Israel     ┆ 1929-01-1 ┆ 70482  │
│            ┆ ens@exampl ┆ -1566x9050 ┆ Denise     ┆ iew        ┆            ┆ 8         ┆        │
│            ┆ e.com      ┆            ┆ Forks
      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ East       ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Katieber…  ┆            ┆            ┆           ┆        │
│ Robyn      ┆ chad33@exa ┆ 212-239-39 ┆ 1162       ┆ Bruceberg  ┆ Iran       ┆ 1941-05-1 ┆ 73249  │
│ Allen      ┆ mple.org   ┆ 34x599     ┆ Kathryn    ┆            ┆            ┆ 7         ┆        │
│            ┆            ┆            ┆ Extensions
 ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ East La…   ┆            ┆            ┆           ┆        │
│ Scott      ┆ valerie39@ ┆ 956.897.05 ┆ 228 Adrian ┆ Alexandras ┆ New        ┆ 2019-09-3 ┆ 81174  │
│ Stewart    ┆ example.co ┆ 40         ┆ Pine
       ┆ ide        ┆ Zealand    ┆ 0         ┆        │
│            ┆ m          ┆            ┆ North      ┆            ┆            ┆           ┆        │
│            ┆            ┆            ┆ Sean, IL … ┆            ┆            ┆           ┆        │
└────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴───────────┴────────┘

## Extracting Excel Files for Customers / Employees / Orders

### Exploring Customer Data

In [102]:
customers_df = pl.read_excel("./data/2/H+ Sport Customers.xlsx")

In [103]:
customers_df.head()

shape: (5, 9)
┌────────────┬───────────┬──────────┬───────────────┬───┬──────────────┬─────────┬───────┬─────────┐
│ CustomerID ┆ FirstName ┆ LastName ┆ Email         ┆ … ┆ Address      ┆ City    ┆ State ┆ Zipcode │
│ ---        ┆ ---       ┆ ---      ┆ ---           ┆   ┆ ---          ┆ ---     ┆ ---   ┆ ---     │
│ i64        ┆ str       ┆ str      ┆ str           ┆   ┆ str          ┆ str     ┆ str   ┆ i64     │
╞════════════╪═══════════╪══════════╪═══════════════╪═══╪══════════════╪═════════╪═══════╪═════════╡
│ 100        ┆ Carol     ┆ Shaw     ┆ cshaw0@mlb.co ┆ … ┆ 8157         ┆ Seattle ┆ WA    ┆ 98121   │
│            ┆           ┆          ┆ m             ┆   ┆ Longview     ┆         ┆       ┆         │
│            ┆           ┆          ┆               ┆   ┆ Court        ┆         ┆       ┆         │
│ 101        ┆ Elizabeth ┆ Carr     ┆ ecarr1@oracle ┆ … ┆ 3934         ┆ Austin  ┆ TX    ┆ 78732   │
│            ┆           ┆          ┆ .com          ┆   ┆ Petterle     ┆         ┆       ┆         │
│            ┆           ┆          ┆               ┆   ┆ Trail        ┆         ┆       ┆         │
│ 102        ┆ Ernest    ┆ Ramos    ┆ eramos2@plala ┆ … ┆ 8699         ┆ Kansas  ┆ MO    ┆ 64199   │
│            ┆           ┆          ┆ .or.jp        ┆   ┆ Clarendon    ┆ City    ┆       ┆         │
│            ┆           ┆          ┆               ┆   ┆ Terrace      ┆         ┆       ┆         │
│ 103        ┆ Jane      ┆ Carter   ┆ jcarter3@harv ┆ … ┆ 2830 Novick  ┆ Irving  ┆ TX    ┆ 75037   │
│            ┆           ┆          ┆ ard.edu       ┆   ┆ Lane         ┆         ┆       ┆         │
│ 104        ┆ Martha    ┆ Cooper   ┆ mcooper4@go.c ┆ … ┆ 4537 Hoard   ┆ Tampa   ┆ FL    ┆ 33625   │
│            ┆           ┆          ┆ om            ┆   ┆ Lane         ┆         ┆       ┆         │
└────────────┴───────────┴──────────┴───────────────┴───┴──────────────┴─────────┴───────┴─────────┘

In [104]:
customers_df.tail()

shape: (5, 9)
┌────────────┬───────────┬──────────┬─────────────┬───┬─────────────┬────────────┬───────┬─────────┐
│ CustomerID ┆ FirstName ┆ LastName ┆ Email       ┆ … ┆ Address     ┆ City       ┆ State ┆ Zipcode │
│ ---        ┆ ---       ┆ ---      ┆ ---         ┆   ┆ ---         ┆ ---        ┆ ---   ┆ ---     │
│ i64        ┆ str       ┆ str      ┆ str         ┆   ┆ str         ┆ str        ┆ str   ┆ i64     │
╞════════════╪═══════════╪══════════╪═════════════╪═══╪═════════════╪════════════╪═══════╪═════════╡
│ 1124       ┆ Russell   ┆ Lawson   ┆ rlawsonnm@e ┆ … ┆ 1862        ┆ College    ┆ TX    ┆ 77844   │
│            ┆           ┆          ┆ bay.com     ┆   ┆ Hoffman     ┆ Station    ┆       ┆         │
│            ┆           ┆          ┆             ┆   ┆ Terrace     ┆            ┆       ┆         │
│ 1125       ┆ Richard   ┆ George   ┆ rgeorgenn@u ┆ … ┆ 4 Doe       ┆ Columbus   ┆ OH    ┆ 43226   │
│            ┆           ┆          ┆ sda.gov     ┆   ┆ Crossing    ┆            ┆       ┆         │
│            ┆           ┆          ┆             ┆   ┆ Parkway     ┆            ┆       ┆         │
│ 1126       ┆ Cheryl    ┆ Moore    ┆ cmooreno@ne ┆ … ┆ 2849 Badeau ┆ Tacoma     ┆ WA    ┆ 98411   │
│            ┆           ┆          ┆ tworksoluti ┆   ┆ Trail       ┆            ┆       ┆         │
│            ┆           ┆          ┆ ons.com     ┆   ┆             ┆            ┆       ┆         │
│ 1127       ┆ Sarah     ┆ Sims     ┆ ssimsnp@iss ┆ … ┆ 2386        ┆ San Diego  ┆ CA    ┆ 92191   │
│            ┆           ┆          ┆ uu.com      ┆   ┆ Springs     ┆            ┆       ┆         │
│            ┆           ┆          ┆             ┆   ┆ Park        ┆            ┆       ┆         │
│ 1128       ┆ Lori      ┆ Little   ┆ llittlenq@a ┆ … ┆ 46474       ┆ Las Vegas  ┆ NV    ┆ 89105   │
│            ┆           ┆          ┆ libaba.com  ┆   ┆ Cambridge   ┆            ┆       ┆         │
│            ┆           ┆          ┆             ┆   ┆ Lane        ┆            ┆       ┆         │
└────────────┴───────────┴──────────┴─────────────┴───┴─────────────┴────────────┴───────┴─────────┘

In [105]:
customers_df.shape

(1029, 9)

In [106]:
customers_df.schema

OrderedDict([('CustomerID', Int64),
             ('FirstName', String),
             ('LastName', String),
             ('Email', String),
             ('Phone', String),
             ('Address', String),
             ('City', String),
             ('State', String),
             ('Zipcode', Int64)])

In [107]:
customers_df.null_count()

shape: (1, 9)
┌────────────┬───────────┬──────────┬───────┬───┬─────────┬──────┬───────┬─────────┐
│ CustomerID ┆ FirstName ┆ LastName ┆ Email ┆ … ┆ Address ┆ City ┆ State ┆ Zipcode │
│ ---        ┆ ---       ┆ ---      ┆ ---   ┆   ┆ ---     ┆ ---  ┆ ---   ┆ ---     │
│ u32        ┆ u32       ┆ u32      ┆ u32   ┆   ┆ u32     ┆ u32  ┆ u32   ┆ u32     │
╞════════════╪═══════════╪══════════╪═══════╪═══╪═════════╪══════╪═══════╪═════════╡
│ 0          ┆ 0         ┆ 0        ┆ 0     ┆ … ┆ 0       ┆ 0    ┆ 0     ┆ 0       │
└────────────┴───────────┴──────────┴───────┴───┴─────────┴──────┴───────┴─────────┘

### Duplicate Checking

In [108]:
dup_cust_records = customers_df.filter(customers_df.is_duplicated())

In [109]:
dup_cust_records.shape

(0, 9)

In [110]:
unique_cust_df = customers_df.unique()

In [111]:
unique_cust_df.shape

(1029, 9)

In [112]:
# Assuming df is your Polars DataFrame
filtered_cust_df = customers_df.filter(
    (pl.col("FirstName") == "Chris") &
    (pl.col("LastName") == "Moreno")
)

print(filtered_cust_df)

shape: (3, 9)
┌────────────┬───────────┬──────────┬──────────────┬───┬─────────────┬───────────┬───────┬─────────┐
│ CustomerID ┆ FirstName ┆ LastName ┆ Email        ┆ … ┆ Address     ┆ City      ┆ State ┆ Zipcode │
│ ---        ┆ ---       ┆ ---      ┆ ---          ┆   ┆ ---         ┆ ---       ┆ ---   ┆ ---     │
│ i64        ┆ str       ┆ str      ┆ str          ┆   ┆ str         ┆ str       ┆ str   ┆ i64     │
╞════════════╪═══════════╪══════════╪══════════════╪═══╪═════════════╪═══════════╪═══════╪═════════╡
│ 941        ┆ Chris     ┆ Moreno   ┆ cmorenond@ma ┆ … ┆ 8740 Oak    ┆ Fairbanks ┆ AK    ┆ 99790   │
│            ┆           ┆          ┆ c.com        ┆   ┆ Valley Park ┆           ┆       ┆         │
│ 1100       ┆ Chris     ┆ Moreno   ┆ cmorenond@ma ┆ … ┆ 8740 Oak    ┆ Fairbanks ┆ AK    ┆ 99790   │
│            ┆           ┆          ┆ c.com        ┆   ┆ Valley Park ┆           ┆       ┆         │
│ 1115       ┆ Chris     ┆ Moreno   ┆ cmorenond@ma ┆ … ┆ 8740 Oak    ┆ Fairbanks ┆ AK    ┆ 99790   │
│            ┆           ┆          ┆ c.com        ┆   ┆ Valley Park ┆           ┆       ┆         │
└────────────┴───────────┴──────────┴──────────────┴───┴─────────────┴───────────┴───────┴─────────┘

### Dropping Customer ID and Rebuilding after creating a new Unique DataFrame

In [113]:
customers_df = customers_df.drop("CustomerID")

In [114]:
customers_df.head()

shape: (5, 8)
┌───────────┬──────────┬──────────────┬──────────────┬─────────────┬─────────────┬───────┬─────────┐
│ FirstName ┆ LastName ┆ Email        ┆ Phone        ┆ Address     ┆ City        ┆ State ┆ Zipcode │
│ ---       ┆ ---      ┆ ---          ┆ ---          ┆ ---         ┆ ---         ┆ ---   ┆ ---     │
│ str       ┆ str      ┆ str          ┆ str          ┆ str         ┆ str         ┆ str   ┆ i64     │
╞═══════════╪══════════╪══════════════╪══════════════╪═════════════╪═════════════╪═══════╪═════════╡
│ Carol     ┆ Shaw     ┆ cshaw0@mlb.c ┆ (206)804-877 ┆ 8157        ┆ Seattle     ┆ WA    ┆ 98121   │
│           ┆          ┆ om           ┆ 1            ┆ Longview    ┆             ┆       ┆         │
│           ┆          ┆              ┆              ┆ Court       ┆             ┆       ┆         │
│ Elizabeth ┆ Carr     ┆ ecarr1@oracl ┆ (512)187-250 ┆ 3934        ┆ Austin      ┆ TX    ┆ 78732   │
│           ┆          ┆ e.com        ┆ 7            ┆ Petterle    ┆             ┆       ┆         │
│           ┆          ┆              ┆              ┆ Trail       ┆             ┆       ┆         │
│ Ernest    ┆ Ramos    ┆ eramos2@plal ┆ (816)540-425 ┆ 8699        ┆ Kansas City ┆ MO    ┆ 64199   │
│           ┆          ┆ a.or.jp      ┆ 7            ┆ Clarendon   ┆             ┆       ┆         │
│           ┆          ┆              ┆              ┆ Terrace     ┆             ┆       ┆         │
│ Jane      ┆ Carter   ┆ jcarter3@har ┆ (214)839-054 ┆ 2830 Novick ┆ Irving      ┆ TX    ┆ 75037   │
│           ┆          ┆ vard.edu     ┆ 2            ┆ Lane        ┆             ┆       ┆         │
│ Martha    ┆ Cooper   ┆ mcooper4@go. ┆ (727)235-569 ┆ 4537 Hoard  ┆ Tampa       ┆ FL    ┆ 33625   │
│           ┆          ┆ com          ┆ 6            ┆ Lane        ┆             ┆       ┆         │
└───────────┴──────────┴──────────────┴──────────────┴─────────────┴─────────────┴───────┴─────────┘

In [115]:
customers_df.shape

(1029, 8)

In [116]:
unique_cust_df = customers_df.unique()

In [117]:
unique_cust_df.shape

(1000, 8)

In [118]:
# Assuming unique_cust_df is your Polars DataFrame with unique records
customer_id_start = 100
customer_id_end = customer_id_start + len(unique_cust_df)

# Create a CustomerID column
customer_id_column = pl.arange(customer_id_start, customer_id_end, 1).alias("CustomerID")

# Add the CustomerID column as the first column of the DataFrame
# Note: No need for pl.lit() here, just pass the customer_id_column directly
unique_cust_df = unique_cust_df.with_columns([customer_id_column])

# To ensure CustomerID is the first column, we can reorder the columns
columns_order = ["CustomerID"] + [col for col in unique_cust_df.columns if col != "CustomerID"]
unique_cust_df = unique_cust_df.select(columns_order)

In [119]:
unique_cust_df

shape: (1_000, 9)
┌────────────┬───────────┬──────────┬─────────────┬───┬─────────────┬────────────┬───────┬─────────┐
│ CustomerID ┆ FirstName ┆ LastName ┆ Email       ┆ … ┆ Address     ┆ City       ┆ State ┆ Zipcode │
│ ---        ┆ ---       ┆ ---      ┆ ---         ┆   ┆ ---         ┆ ---        ┆ ---   ┆ ---     │
│ i64        ┆ str       ┆ str      ┆ str         ┆   ┆ str         ┆ str        ┆ str   ┆ i64     │
╞════════════╪═══════════╪══════════╪═════════════╪═══╪═════════════╪════════════╪═══════╪═════════╡
│ 100        ┆ Pamela    ┆ Welch    ┆ pwelcho@wor ┆ … ┆ 2814        ┆ Englewood  ┆ CO    ┆ 80150   │
│            ┆           ┆          ┆ dpress.com  ┆   ┆ Longview    ┆            ┆       ┆         │
│            ┆           ┆          ┆             ┆   ┆ Place       ┆            ┆       ┆         │
│ 101        ┆ Rebecca   ┆ Sanchez  ┆ rsanchez1q@ ┆ … ┆ 72828 Eliot ┆ Sacramento ┆ CA    ┆ 94207   │
│            ┆           ┆          ┆ cyberchimps ┆   ┆ Court       ┆            ┆       ┆         │
│            ┆           ┆          ┆ .com        ┆   ┆             ┆            ┆       ┆         │
│ 102        ┆ Katherine ┆ Butler   ┆ kbutler20@m ┆ … ┆ 01383 Buell ┆ Englewood  ┆ CO    ┆ 80150   │
│            ┆           ┆          ┆ ediafire.co ┆   ┆ Avenue      ┆            ┆       ┆         │
│            ┆           ┆          ┆ m           ┆   ┆             ┆            ┆       ┆         │
│ 103        ┆ Michael   ┆ Green    ┆ mgreen27@go ┆ … ┆ 98311       ┆ Akron      ┆ OH    ┆ 44310   │
│            ┆           ┆          ┆ ogle.co.jp  ┆   ┆ Westend     ┆            ┆       ┆         │
│            ┆           ┆          ┆             ┆   ┆ Place       ┆            ┆       ┆         │
│ 104        ┆ Barbara   ┆ Bell     ┆ bbell2l@goo ┆ … ┆ 76413 Stone ┆ Los        ┆ CA    ┆ 90065   │
│            ┆           ┆          ┆ gle.pl      ┆   ┆ Corner Lane ┆ Angeles    ┆       ┆         │
│ …          ┆ …         ┆ …        ┆ …           ┆ … ┆ …           ┆ …          ┆ …     ┆ …       │
│ 1095       ┆ Joshua    ┆ Clark    ┆ jclarkq9@ta ┆ … ┆ 88 Goodland ┆ Pensacola  ┆ FL    ┆ 32511   │
│            ┆           ┆          ┆ obao.com    ┆   ┆ Center      ┆            ┆       ┆         │
│ 1096       ┆ Laura     ┆ Bradley  ┆ lbradleyqq@ ┆ … ┆ 5465 Towne  ┆ Cedar      ┆ IA    ┆ 52410   │
│            ┆           ┆          ┆ yandex.ru   ┆   ┆ Plaza       ┆ Rapids     ┆       ┆         │
│ 1097       ┆ Teresa    ┆ Arnold   ┆ tarnoldqt@w ┆ … ┆ 01835 5th   ┆ Mobile     ┆ AL    ┆ 36670   │
│            ┆           ┆          ┆ oothemes.co ┆   ┆ Parkway     ┆            ┆       ┆         │
│            ┆           ┆          ┆ m           ┆   ┆             ┆            ┆       ┆         │
│ 1098       ┆ Mark      ┆ West     ┆ mwestrb@dag ┆ … ┆ 594 Meadow  ┆ Birmingham ┆ AL    ┆ 35220   │
│            ┆           ┆          ┆ ondesign.co ┆   ┆ Vale Circle ┆            ┆       ┆         │
│            ┆           ┆          ┆ m           ┆   ┆             ┆            ┆       ┆         │
│ 1099       ┆ Michael   ┆ Gonzalez ┆ mgonzalezrq ┆ … ┆ 48057 Hagan ┆ Roanoke    ┆ VA    ┆ 24009   │
│            ┆           ┆          ┆ @hud.gov    ┆   ┆ Place       ┆            ┆       ┆         │
└────────────┴───────────┴──────────┴─────────────┴───┴─────────────┴────────────┴───────┴─────────┘

In [120]:
unique_cust_df.shape

(1000, 9)

### Exploring Employees Data

In [121]:
employees_df = pl.read_excel("./data/2/H+ Sport Employees.xlsx", sheet_name="Employees")

In [122]:
employees_df.head()

shape: (5, 13)
┌─────────────┬──────────┬─────────────┬───────────┬───┬────────┬────────────┬──────────┬──────────┐
│ Employee    ┆ Building ┆ Department  ┆ Status    ┆ … ┆ Job    ┆ New Salary ┆ Tax Rate ┆ 0.029100 │
│ Name        ┆ ---      ┆ ---         ┆ ---       ┆   ┆ Rating ┆ ---        ┆ ---      ┆ ---      │
│ ---         ┆ str      ┆ str         ┆ str       ┆   ┆ ---    ┆ str        ┆ str      ┆ str      │
│ str         ┆          ┆             ┆           ┆   ┆ i64    ┆            ┆          ┆          │
╞═════════════╪══════════╪═════════════╪═══════════╪═══╪════════╪════════════╪══════════╪══════════╡
│ Page, Lisa  ┆ West     ┆ ADC         ┆ Full Time ┆ … ┆ 1      ┆ null       ┆ null     ┆ null     │
│ Taylor,     ┆ West     ┆ ADC         ┆ Half-Time ┆ … ┆ 4      ┆ null       ┆ null     ┆ null     │
│ Hector      ┆          ┆             ┆           ┆   ┆        ┆            ┆          ┆          │
│ Dawson,     ┆ West     ┆ ADC         ┆ Contract  ┆ … ┆ 5      ┆ null       ┆ null     ┆ null     │
│ Jonathan    ┆          ┆             ┆           ┆   ┆        ┆            ┆          ┆          │
│ Duran,      ┆ Taft     ┆ ADC         ┆ Hourly    ┆ … ┆ 2      ┆ null       ┆ null     ┆ null     │
│ Brian       ┆          ┆             ┆           ┆   ┆        ┆            ┆          ┆          │
│ Weber,      ┆ Watson   ┆ ADC         ┆ Full Time ┆ … ┆ 2      ┆ null       ┆ null     ┆ null     │
│ Larry       ┆          ┆             ┆           ┆   ┆        ┆            ┆          ┆          │
└─────────────┴──────────┴─────────────┴───────────┴───┴────────┴────────────┴──────────┴──────────┘

In [123]:
employees_df.shape

(741, 13)

In [124]:
unique_emp_df = employees_df.unique()

In [125]:
unique_emp_df.shape

(741, 13)

### Cleaning Null Values in Employees DataFrame

In [126]:
employees_df.null_count()

shape: (1, 13)
┌──────────┬──────────┬────────────┬────────┬───┬────────────┬────────────┬──────────┬──────────┐
│ Employee ┆ Building ┆ Department ┆ Status ┆ … ┆ Job Rating ┆ New Salary ┆ Tax Rate ┆ 0.029100 │
│ Name     ┆ ---      ┆ ---        ┆ ---    ┆   ┆ ---        ┆ ---        ┆ ---      ┆ ---      │
│ ---      ┆ u32      ┆ u32        ┆ u32    ┆   ┆ u32        ┆ u32        ┆ u32      ┆ u32      │
│ u32      ┆          ┆            ┆        ┆   ┆            ┆            ┆          ┆          │
╞══════════╪══════════╪════════════╪════════╪═══╪════════════╪════════════╪══════════╪══════════╡
│ 0        ┆ 0        ┆ 0          ┆ 0      ┆ … ┆ 0          ┆ 741        ┆ 741      ┆ 741      │
└──────────┴──────────┴────────────┴────────┴───┴────────────┴────────────┴──────────┴──────────┘

In [127]:
employees_df = employees_df.with_columns([
    employees_df["Benefits"].fill_null("Unknown")
])

In [128]:
drop_col_list = ["New Salary", "Tax Rate", "0.029100"]
employees_df = employees_df.drop(drop_col_list)

In [129]:
employees_df

shape: (741, 10)
┌───────────────┬──────────┬──────────────┬───────────┬───┬───────┬──────────┬────────┬────────────┐
│ Employee Name ┆ Building ┆ Department   ┆ Status    ┆ … ┆ Years ┆ Benefits ┆ Salary ┆ Job Rating │
│ ---           ┆ ---      ┆ ---          ┆ ---       ┆   ┆ ---   ┆ ---      ┆ ---    ┆ ---        │
│ str           ┆ str      ┆ str          ┆ str       ┆   ┆ i64   ┆ str      ┆ i64    ┆ i64        │
╞═══════════════╪══════════╪══════════════╪═══════════╪═══╪═══════╪══════════╪════════╪════════════╡
│ Page, Lisa    ┆ West     ┆ ADC          ┆ Full Time ┆ … ┆ 25    ┆ DMR      ┆ 24550  ┆ 1          │
│ Taylor,       ┆ West     ┆ ADC          ┆ Half-Time ┆ … ┆ 12    ┆ DM       ┆ 26795  ┆ 4          │
│ Hector        ┆          ┆              ┆           ┆   ┆       ┆          ┆        ┆            │
│ Dawson,       ┆ West     ┆ ADC          ┆ Contract  ┆ … ┆ 16    ┆ Unknown  ┆ 42540  ┆ 5          │
│ Jonathan      ┆          ┆              ┆           ┆   ┆       ┆          ┆        ┆            │
│ Duran, Brian  ┆ Taft     ┆ ADC          ┆ Hourly    ┆ … ┆ 11    ┆ Unknown  ┆ 35680  ┆ 2          │
│ Weber, Larry  ┆ Watson   ┆ ADC          ┆ Full Time ┆ … ┆ 16    ┆ M        ┆ 72830  ┆ 2          │
│ …             ┆ …        ┆ …            ┆ …         ┆ … ┆ …     ┆ …        ┆ …      ┆ …          │
│ Olsen, Ewan   ┆ North    ┆ Research/Dev ┆ Contract  ┆ … ┆ 16    ┆ Unknown  ┆ 60760  ┆ 2          │
│               ┆          ┆ elopment     ┆           ┆   ┆       ┆          ┆        ┆            │
│ Green, Kim    ┆ Watson   ┆ Research/Dev ┆ Half-Time ┆ … ┆ 23    ┆ DMR      ┆ 31250  ┆ 2          │
│               ┆          ┆ elopment     ┆           ┆   ┆       ┆          ┆        ┆            │
│ Bradshaw,     ┆ North    ┆ Research/Dev ┆ Contract  ┆ … ┆ 15    ┆ Unknown  ┆ 64720  ┆ 5          │
│ Sheryl        ┆          ┆ elopment     ┆           ┆   ┆       ┆          ┆        ┆            │
│ Riley, David  ┆ Taft     ┆ Research/Dev ┆ Full Time ┆ … ┆ 13    ┆ DMR      ┆ 46680  ┆ 1          │
│               ┆          ┆ elopment     ┆           ┆   ┆       ┆          ┆        ┆            │
│ Flynn,        ┆ Watson   ┆ Research/Dev ┆ Hourly    ┆ … ┆ 13    ┆ Unknown  ┆ 19044  ┆ 1          │
│ Melissa       ┆          ┆ elopment     ┆           ┆   ┆       ┆          ┆        ┆            │
└───────────────┴──────────┴──────────────┴───────────┴───┴───────┴──────────┴────────┴────────────┘

In [130]:
employees_df.null_count()

shape: (1, 10)
┌───────────────┬──────────┬────────────┬────────┬───┬───────┬──────────┬────────┬────────────┐
│ Employee Name ┆ Building ┆ Department ┆ Status ┆ … ┆ Years ┆ Benefits ┆ Salary ┆ Job Rating │
│ ---           ┆ ---      ┆ ---        ┆ ---    ┆   ┆ ---   ┆ ---      ┆ ---    ┆ ---        │
│ u32           ┆ u32      ┆ u32        ┆ u32    ┆   ┆ u32   ┆ u32      ┆ u32    ┆ u32        │
╞═══════════════╪══════════╪════════════╪════════╪═══╪═══════╪══════════╪════════╪════════════╡
│ 0             ┆ 0        ┆ 0          ┆ 0      ┆ … ┆ 0     ┆ 0        ┆ 0      ┆ 0          │
└───────────────┴──────────┴────────────┴────────┴───┴───────┴──────────┴────────┴────────────┘

### Exploring Orders Data

In [131]:
orders_df = pl.read_excel("./data/2/H+ Sport Orders.xlsx")

In [132]:
orders_df.head()

shape: (5, 8)
┌─────────┬────────────┬──────────┬──────────┬────────────┬─────────────┬─────────────┬────────────┐
│ OrderID ┆ Date       ┆ TotalDue ┆ Status   ┆ CustomerID ┆ Salesperson ┆ CustomersCo ┆ Salesperso │
│ ---     ┆ ---        ┆ ---      ┆ ---      ┆ ---        ┆ ID          ┆ mment       ┆ nsComment  │
│ i64     ┆ str        ┆ str      ┆ str      ┆ i64        ┆ ---         ┆ ---         ┆ ---        │
│         ┆            ┆          ┆          ┆            ┆ i64         ┆ str         ┆ str        │
╞═════════╪════════════╪══════════╪══════════╪════════════╪═════════════╪═════════════╪════════════╡
│ 1000    ┆ 05/14/2016 ┆ $140.91  ┆ paid     ┆ 413        ┆ 130         ┆ null        ┆ null       │
│ 1001    ┆ 07/31/2016 ┆ $105.32  ┆ returned ┆ 128        ┆ 102         ┆ null        ┆ null       │
│ 1002    ┆ 07/09/2016 ┆ $217.30  ┆ past due ┆ 791        ┆ 115         ┆ null        ┆ null       │
│ 1003    ┆ 04/04/2016 ┆ $281.39  ┆ paid     ┆ 974        ┆ 139         ┆ null        ┆ null       │
│ 1004    ┆ 02/16/2016 ┆ $254.76  ┆ paid     ┆ 866        ┆ 102         ┆ null        ┆ null       │
└─────────┴────────────┴──────────┴──────────┴────────────┴─────────────┴─────────────┴────────────┘

In [133]:
orders_df.shape

(200, 8)

### Cleaning Null Values in Orders DataFrame

In [136]:
orders_df.null_count()

shape: (1, 8)
┌─────────┬──────┬──────────┬────────┬────────────┬───────────────┬────────────────┬───────────────┐
│ OrderID ┆ Date ┆ TotalDue ┆ Status ┆ CustomerID ┆ SalespersonID ┆ CustomersComme ┆ SalespersonsC │
│ ---     ┆ ---  ┆ ---      ┆ ---    ┆ ---        ┆ ---           ┆ nt             ┆ omment        │
│ u32     ┆ u32  ┆ u32      ┆ u32    ┆ u32        ┆ u32           ┆ ---            ┆ ---           │
│         ┆      ┆          ┆        ┆            ┆               ┆ u32            ┆ u32           │
╞═════════╪══════╪══════════╪════════╪════════════╪═══════════════╪════════════════╪═══════════════╡
│ 0       ┆ 0    ┆ 0        ┆ 0      ┆ 0          ┆ 0             ┆ 200            ┆ 200           │
└─────────┴──────┴──────────┴────────┴────────────┴───────────────┴────────────────┴───────────────┘

In [137]:
orders_df.head()

shape: (5, 8)
┌─────────┬────────────┬──────────┬──────────┬────────────┬─────────────┬─────────────┬────────────┐
│ OrderID ┆ Date       ┆ TotalDue ┆ Status   ┆ CustomerID ┆ Salesperson ┆ CustomersCo ┆ Salesperso │
│ ---     ┆ ---        ┆ ---      ┆ ---      ┆ ---        ┆ ID          ┆ mment       ┆ nsComment  │
│ i64     ┆ str        ┆ str      ┆ str      ┆ i64        ┆ ---         ┆ ---         ┆ ---        │
│         ┆            ┆          ┆          ┆            ┆ i64         ┆ str         ┆ str        │
╞═════════╪════════════╪══════════╪══════════╪════════════╪═════════════╪═════════════╪════════════╡
│ 1000    ┆ 05/14/2016 ┆ $140.91  ┆ paid     ┆ 413        ┆ 130         ┆ null        ┆ null       │
│ 1001    ┆ 07/31/2016 ┆ $105.32  ┆ returned ┆ 128        ┆ 102         ┆ null        ┆ null       │
│ 1002    ┆ 07/09/2016 ┆ $217.30  ┆ past due ┆ 791        ┆ 115         ┆ null        ┆ null       │
│ 1003    ┆ 04/04/2016 ┆ $281.39  ┆ paid     ┆ 974        ┆ 139         ┆ null        ┆ null       │
│ 1004    ┆ 02/16/2016 ┆ $254.76  ┆ paid     ┆ 866        ┆ 102         ┆ null        ┆ null       │
└─────────┴────────────┴──────────┴──────────┴────────────┴─────────────┴─────────────┴────────────┘

In [138]:
orders_df = orders_df.with_columns([
    orders_df["CustomersComment"].fill_null("No Comment"),
    orders_df["SalespersonsComment"].fill_null("No Comment"),
])

In [139]:
orders_df.null_count()

shape: (1, 8)
┌─────────┬──────┬──────────┬────────┬────────────┬───────────────┬────────────────┬───────────────┐
│ OrderID ┆ Date ┆ TotalDue ┆ Status ┆ CustomerID ┆ SalespersonID ┆ CustomersComme ┆ SalespersonsC │
│ ---     ┆ ---  ┆ ---      ┆ ---    ┆ ---        ┆ ---           ┆ nt             ┆ omment        │
│ u32     ┆ u32  ┆ u32      ┆ u32    ┆ u32        ┆ u32           ┆ ---            ┆ ---           │
│         ┆      ┆          ┆        ┆            ┆               ┆ u32            ┆ u32           │
╞═════════╪══════╪══════════╪════════╪════════════╪═══════════════╪════════════════╪═══════════════╡
│ 0       ┆ 0    ┆ 0        ┆ 0      ┆ 0          ┆ 0             ┆ 0              ┆ 0             │
└─────────┴──────┴──────────┴────────┴────────────┴───────────────┴────────────────┴───────────────┘

In [140]:
orders_df.head()

shape: (5, 8)
┌─────────┬────────────┬──────────┬──────────┬────────────┬─────────────┬─────────────┬────────────┐
│ OrderID ┆ Date       ┆ TotalDue ┆ Status   ┆ CustomerID ┆ Salesperson ┆ CustomersCo ┆ Salesperso │
│ ---     ┆ ---        ┆ ---      ┆ ---      ┆ ---        ┆ ID          ┆ mment       ┆ nsComment  │
│ i64     ┆ str        ┆ str      ┆ str      ┆ i64        ┆ ---         ┆ ---         ┆ ---        │
│         ┆            ┆          ┆          ┆            ┆ i64         ┆ str         ┆ str        │
╞═════════╪════════════╪══════════╪══════════╪════════════╪═════════════╪═════════════╪════════════╡
│ 1000    ┆ 05/14/2016 ┆ $140.91  ┆ paid     ┆ 413        ┆ 130         ┆ No Comment  ┆ No Comment │
│ 1001    ┆ 07/31/2016 ┆ $105.32  ┆ returned ┆ 128        ┆ 102         ┆ No Comment  ┆ No Comment │
│ 1002    ┆ 07/09/2016 ┆ $217.30  ┆ past due ┆ 791        ┆ 115         ┆ No Comment  ┆ No Comment │
│ 1003    ┆ 04/04/2016 ┆ $281.39  ┆ paid     ┆ 974        ┆ 139         ┆ No Comment  ┆ No Comment │
│ 1004    ┆ 02/16/2016 ┆ $254.76  ┆ paid     ┆ 866        ┆ 102         ┆ No Comment  ┆ No Comment │
└─────────┴────────────┴──────────┴──────────┴────────────┴─────────────┴─────────────┴────────────┘